// bar slide on load
@-webkit-keyframes barslide
{
	0% {
		max-width:0;
	}

	100% {
		max-width:100%;
	}
}

@-o-keyframes barslide
{
	0% {
		max-width:0;
	}

	100% {
		max-width:100%;
	}
}

@-moz-keyframes barslide
{
	0% {
		max-width:0;
	}

	100% {
		max-width:100%;
	}
}

@keyframes barslide
{
	0% {
		max-width:0;
	}

	100% {
		max-width:100%;
	}
}

// slide left on load
@-webkit-keyframes slideleft
{
	0% {
		margin-left:250px;
	}

	100% {
		margin-left:0;
	}
}

@-o-keyframes slideleft
{
	0% {
		margin-left:250px;
	}

	100% {
		margin-left:0;
	}
}

@-moz-keyframes slideleft
{
	0% {
		margin-left:250px;
	}

	100% {
		margin-left:0;
	}
}

@keyframes slideleft
{
	0% {
		margin-left:250px;
	}

	100% {
		margin-left:0;
	}
}

// slide down on load
@-webkit-keyframes slidedown
{
	0% {
		margin-top:-60px;
	}

	100% {
		margin-top:0;
	}
}

@-o-keyframes slidedown
{
	0% {
		margin-top:-60px;
	}

	100% {
		margin-top:0;
	}
}

@-moz-keyframes slidedown
{
	0% {
		margin-top:-60px;
	}

	100% {
		margin-top:0;
	}
}

@keyframes slidedown
{
	0% {
		margin-top:-60px;
	}

	100% {
		margin-top:0;
	}
}

// flash in on load
@-webkit-keyframes flashin
{
	0% {
		opacity:0;
	}

	100% {
		opacity:1;
	}
}

@-o-keyframes flashin
{
	0% {
		opacity:0;
	}

	100% {
		opacity:1;
	}
}

@-moz-keyframes flashin
{
	0% {
		opacity:0;
	}

	100% {
		opacity:1;
	}
}

@keyframes flashin
{
	0% {
		opacity:0;
	}

	100% {
		opacity:1;
	}
}